@import url("https://use.typekit.net/egu6ldo.css");

@font-face {
  font-family: Circular;
  src: url(fonts/circular-book.otf);
  font-weight: 400;
}

@font-face {
  font-family: Circular;
  src: url(fonts/circular-bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Circular;
  src: url(fonts/circular-medium.otf);
  font-weight: 500;
}

body
{
  background-image: url(img/jellyhome.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: #FFF;
  font-family: Circular;
  font-weight: 400
}

header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700
}

#logo p
{
  color: #FFF;
  font-size: 20px
}

#menu a
{
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li
{
  display: inline;
  margin: 0 20px;
  vertical-align: middle;
}

.thumbnail
{
  width: 23px;
  vertical-align: middle;
}

#test
{
  width: 50px;
  background: blue
}

#first
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first button
{
  color: #FFF;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.3);
  background-blur: 10px;
  border: solid 1px #FFF;
  border-radius: 10px;
  width: 390px;
  height: 60px;
}
