@import url("https://use.typekit.net/egu6ldo.css");

@font-face {
  font-family: Circular;
  src: url(fonts/circular-book.otf);
  font-weight: 400;
}

@font-face {
  font-family: Circular;
  src: url(fonts/circular-bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Circular;
  src: url(fonts/circular-medium.otf);
  font-weight: 500;
}

html
{
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  font-family: Circular;
  font-weight: 400
}

#home
{
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  background-image: url(img/jellyhome.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 80px
}

#top_bar
{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px
}

nav
{
  display: none
}

#logo_basket
{
  margin-right: 15px
}

.thumbnail
{
  width: 33px;
}

h1
{
  font-family: baskerville-display-pt, serif;
  color: #FFF;
  font-size: 60px;
  text-align: center;
}

.discover
{
  display: none;
}

#bot_bar
{
  width: 90%;
  display: flex;
}

.facebook
{
  width: 50px;
  padding-bottom: 20px
}

.down_arrow
{
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
}

#bot_bar a
{
  margin-left: calc(50vw - 90px);
}

.infos
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px
}

h2
{
  font-size: 20px;
  color: #011842;
  text-align: center;
  margin: 20px 40px
}

#img_ferme
{
  width: 300px;
  height: 230px;
  background-image: url(img/ferme.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
}

#img_aquarium
{
  width: 300px;
  height: 230px;
  background-image: url(img/aqua.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
}

#img_entretien
{
  width: 300px;
  height: 230px;
  background-image: url(img/sea.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  display: flex;
}


.infos button
{
  color: #FFF;
  font-size: 15px;
  height: 40px;
  width: 250px;
  border: solid 1px #FFF;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  margin-top: 175px;
  position: absolute;
  left: 0;
  right: 0;
}

h3
{
  font-size: 15px;
  color: #011842;
  text-align: center;
  margin: 20px 20px
}

#img_entretien
{
  display: flex;
  justify-content: center;
}

#img_entretien ul
{
  text-align: center;
  list-style: none;
  padding: 0;
  color: #FFF;
  font-size: 17px;
  line-height: 2.5;
}

footer
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer ul
{
  list-style: none;
  padding: 0;
}

#contact
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.contact_messenger
{
  display: flex;
  align-items: center;
}

.contact_messenger img
{
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

#contact button
{
  color: #FFF;
  font-size: 15px;
  height: 32px;
  width: 160px;
  background-color: #011842;
  border-radius: 5px;
  margin-top: 15px;
}


@media (min-width: 700px)
{
  #home
  {
    padding-bottom: 130px;
    background-position: bottom;
    height: 100vh
  }

  h1
  {
    font-size: 15vh;
  }

  #top_bar
  {
    display: none;
  }

  nav
  {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
  }

  nav p
  {
    color: #FFF;
    font-size: 20px;
  }

  nav ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  nav li
  {
    display: inline;
    margin-left: 40px;
  }

  #logo_basket
  {
    margin-right: 0px;
  }

  nav a
  {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
  }

  .thumbnail
  {
    width: 23px;
  }

  #title
  {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #bot_bar
  {
    width: 98%;
    display: flex;
  }

  .facebook
  {
    width: 60px;
  }

  #bot_bar a
  {
    margin-left: calc(50vw - 110px)
  }

  main
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px;
  }

  .infos
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%
  }

  #aqua
  {
    flex-direction: row-reverse;
  }

  #img_ferme, #img_aquarium, #img_entretien
  {
    width: 50%;
    height: 600px;
  }

  h2
  {
    font-size: 30px;
  }

  .titleButton
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .infos button
  {
    position: static;
    font-size: 20px;
    color: #FFF;
    height: 55px;
    width: 350px;
    background-color: #011842;
    border: solid 2px #FFF;
    transition: all 0.3s;
    cursor: pointer;
    margin: auto;
    border
  }

  .infos button:hover
  {
    color: #011842;
    background-color: #FFF;
    border: solid 2px #011842;
  }

  #img_entretien ul
  {
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    line-height: 5;
    align-self: center;
    margin: 0
  }
}
